.recommend-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.flip {
  width: 200px;
  height: 250px;
  perspective: 1100px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background: red;
}

.back {
  background: royalblue;
  transform: rotateY(180deg);
}

.flip .card .test {
  transform: rotateY(180deg);
}
