.recommend-page-container {
  min-width: 1050px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recommend-page-container .button-container {
  padding: 50px;
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.recommend-page-container .button-container .button {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.recommend-page-container .my-store {
  width: 100vw;
  min-width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 217, 217, 0.5);
}
.recommend-page-container .my-store .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.recommend-page-container .my-store .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recommend-page-container .my-store .description .a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 20px 0px;
}

.recommend-page-container .my-store .description .b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.recommend-page-container .order-finish {
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: center;
  flex-direction: column;
}

.recommend-page-container .order-finish .a {
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.recommend-page-container .order-finish .b {
  font-size: 18px;

  font-weight: 700;
}
.recommend-page-container .order-price .label {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid;
  min-width: 1050px;
}
.recommend-page-container .order-price .price-container {
  margin: 20px 100px;
  display: flex;
  flex-direction: column;
}
.recommend-page-container .order-price .price-container .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recommend-page-container .order-price .price-container .line .final-category {
  color: rgb(150, 150, 150);
}
.recommend-page-container .order-price .price-container .line .final-price {
  color: rgb(95, 0, 128);
  font-weight: bold;
}
.recommend-page-container .order-price .price-container .big {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 340px;
  margin: 0px 20px;
  width: 180px;
}
.card .item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100px;
  margin: 0px 20px;
  width: 180px;
}
.card .item-info .price-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}
.card .item-info .price-info .rate {
  font-size: 15px;
  font-weight: bold;
  color: #d1512d;
}
.card .item-info .price-info .cur-price {
  font-size: 15px;
  font-weight: bold;
}
.card .item-info .price-info .before-price {
  font-size: 13px;
  color: rgb(150, 150, 150);
  text-decoration: line-through;
}
.card .item-name {
  color: rgb(150, 150, 150);
}

.card .card-container .image {
  position: absolute;
  height: 340px;
  overflow: hidden;
  object-fit: cover;
}
.card .card-container .image2 {
  left: 13px;
  position: absolute;
  height: 320px;
  width: 160px;
  overflow: hidden;
  object-fit: cover;
}
.card .card-container .price-container {
  font-size: 20px;
  bottom: 40px;
  left: 32px;
  position: absolute;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/img/discount.png");
  background-repeat: no-repeat;
  background-size: 120px 40px;
}
.card .card-container .price-container .discount-rate {
  font-weight: bold;
  margin: 5px;
  color: #ff7f3f;
}
.card .card-container .price-container .off {
  font-weight: bold;
  color: white;
  margin: 5px;
}
