.register-page-container {
  min-width: 1050px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register-page-container .form-container {
  margin-top: 50px;
  width: 1050px;
  display: flex;
  flex-direction: column;
}
.register-page-container .form-container .title-container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  border-bottom: solid 1px;
}
.register-page-container .form-container .content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register-page-container .form-container .content-container .input-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(217, 217, 217);

  width: 100%;
}
.register-page-container .form-container .content-container .input-layer .a {
  display: flex;
  width: 50%;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-name {
  background-color: rgb(217, 217, 217, 0.3);
  display: flex;
  align-items: center;
  width: 200px;
  height: 75px;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-name
  .name {
  margin-left: 30px;
  color: rgb(150, 150, 150, 1);
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-input {
  width: 325px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-input
  .input {
  width: 90%;
  height: 40px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  padding: 0px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-input
  .radio-input {
  height: 40px;
  color: rgb(150, 150, 150);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-input
  .input
  .bar {
  width: 1px;
  height: 20px;

  background-color: rgb(217, 217, 217);
}
.register-page-container .form-container .content-container .input-layer .b {
  width: 50%;
  height: 100%;
}

.input2 {
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}
.input3 {
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  border-left: solid 1px rgb(217, 217, 217);
  border-right: solid 1px rgb(217, 217, 217);
}
.span-clicked {
  width: 24px;
  height: 24px;
  background-color: rgb(95, 0, 128);
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
}
.span-unclicked {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: solid 1px;
}
.span-inner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-name2 {
  background-color: rgb(217, 217, 217, 0.3);
  display: flex;
  align-items: center;
  width: 200px;
  height: 130px;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-name2
  .name {
  margin-left: 30px;
  color: rgb(150, 150, 150, 1);
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-input2 {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-input2
  .input {
  width: 90%;
  height: 40px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  padding: 0px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.register-page-container
  .form-container
  .content-container
  .input-layer
  .a
  .content-input2
  .inner {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.b .button-container {
  height: 130px;
}
.b .button-container .inner {
  height: 50%;
  padding-left: 10px;
  align-items: center;
  display: flex;
}
.search {
  width: 100px;
  height: 40px;
}

.agreement-container {
  width: 1050px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: solid 1px;
  display: flex;
}
.agreement-container .a {
  width: 200px;
  height: 210px;
  background-color: rgb(217, 217, 217, 0.3);
}
.agreement-container .a .label {
  height: 60px;
  display: flex;
  align-items: center;
  color: rgb(150, 150, 150, 1);
  margin-left: 30px;
}
.agreement-container .b {
  width: 100%;
}
.agreement-container .b .main-agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  width: 100%;
  height: 60px;
}
.agreement-container .b .sub-agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.register-button-container {
  display: flex;
  margin-bottom: 50px;
}
.register-button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}
