* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans";
}

.button1 {
  color: white;
  background-color: rgb(95, 0, 128);
  border: none;
  width: 100%;
}
.button2 {
  color: rgb(95, 0, 128);
  background-color: white;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 5px;
  width: 100%;
}
.App {
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Spoqa Han Sans";
  src: url("./asset/Spoqa Han Sans Regular.ttf");
}
